.vs
*/bin
*/obj
/V2/DotStep.Core/bin/Debug
/V2/DotStep.Core/obj
/V2/DotStep.Reference/bin/Debug/netcoreapp3.1
/V2/DotStep.Reference/obj
/V2/DotStep.Tests/bin/Debug/netcoreapp3.1
/V2/DotStep.Tests/obj
/V2/DotStep.Reference/bin/Debug/net6.0
/V2/DotStep.Tests/bin/Debug/net6.0
